@font-face {
  font-family: "Avenir Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Roman"), url("avenir_roman_12.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  background: none;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "Avenir Roman", Arial;
  letter-spacing: -1px;
}

main,
header,
.aboutMeCont,
.aboutMeText,
.aboutMeImage,
.projectsSection,
.projectCont,
.projectPicWrapper,
.projectListCont,
.projectMiddlecont,
.projectIcons,
.toolsSection,
.toolsCont,
.toolIconsCont,
.tool,
.contactSection,
.contactPicWrapper,
.contactText,
.contactLogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.interactive:hover {
  transform: scale(1.1);
}

body {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  width: 100%;
  gap: 50px;
  justify-content: flex-start;
}

header {
  width: 100%;
  background-image: url(../src/bgRotated.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* about me section */

.aboutMeCont {
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.54));
  margin-top: 40px;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;

  color: rgb(5, 35, 66);
}

.aboutMeText {
  width: 70%;
  padding: 50px;
  height: 60%;
  font-size: 1.2rem;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
}

.aboutMeText > p > span {
  font-weight: bold;
}

.aboutMeImage {
  width: 300px;
  height: 300px;
  background-image: url("../src/images/profilePic.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

@media (max-width: 770px) {
  .aboutMeCont {
    width: 80%;
    margin-top: 30px;
  }
  .aboutMeText {
    width: 100%;
    padding: 30px;
    gap: 15px;
  }
}

@media (max-width: 580px) {
  .aboutMeCont {
    width: 90%;
    margin-top: 30px;
  }
  .aboutMeText {
    width: 100%;
    padding: 20px;
    gap: 10px;
  }
}

/* projects list */

.projectsSection {
  flex-wrap: nowrap;
  width: 100%;
  gap: 50px;
}
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(5, 35, 66);
}
.projectListCont {
  flex-direction: row;
  justify-content: center;

  gap: 50px;
  flex-wrap: wrap;
  width: 80%;
}
.projectCont {
  background-color: white;
  width: 400px;
  height: 400px;

  border-radius: 5px;
  overflow: hidden;

  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.54));
}

.projectPicWrapper {
  width: 100%;
  height: 50%;
  overflow: hidden;

  background-color: red;
}

.projectPic {
  width: 100%;
}

.projectMiddlecont {
  flex-direction: row;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 10%;

  justify-content: space-between;
}

.projectIcons {
  flex-direction: row;
  gap: 5px;
}
.projectIcons > a {
  width: 30px;
}
.projectIcons > a > img {
  width: 30px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(5, 35, 66);
}

.projectDesc {
  height: 40%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9rem;
}

@media (max-width: 770px) {
  .projectDesc {
    padding-left: 10px;
    padding-right: 10px;
    height: 60%;
  }

  .projectPicWrapper {
    height: 40%;
  }

  .projectIcons > a {
    width: 27px;
  }
  .projectIcons > a > img {
    width: 27px;
  }
}

@media (max-width: 580px) {
  .projectDesc {
    padding-left: 10px;
    padding-right: 10px;
    height: 65%;
  }
  .projectIcons > a {
    width: 25px;
  }
  .projectIcons > a > img {
    width: 25px;
  }

  .projectPicWrapper {
    height: 35%;
  }
}

/* tools section */

.toolsSection {
  width: 100%;
  gap: 30px;
}

.toolsCont {
  width: 100%;
  gap: 10px;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(5, 35, 66);
}

.toolIconsCont {
  width: 100%;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.tool > img {
  width: 50px;
  height: auto;
}

.tool > p {
  font-size: 0.9rem;
}

/* contact section */
.contactSection {
  width: 100%;
  padding: 50px;
  flex-direction: row;
  justify-content: center;

  background-color: rgb(24, 63, 50);
  color: white;
}

.contactPicWrapper {
  width: 15%;
  height: auto;
  min-width: 100px;
  max-width: 500px;
  border-radius: 10px;
}

.contactPicWrapper > img {
  width: 80%;
}
.contactText {
  width: 50%;
  max-width: 1000px;
  gap: 20px;

  font-size: 1.2rem;
  text-align: center;
}
h5 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.contactText > p {
  font-size: 1em;
}
.contactText > p > span {
  font-weight: bold;
}

.contactLogos {
  flex-direction: row;
  gap: 10px;
}

.contactLogos > a {
  width: 30px;
  height: 30px;
  transition: all 40ms ease-in-out;
}

.contactLogos > a > img {
  width: 100%;
  height: auto;
}

.gitHubInvert {
  filter: invert(1);
}

@media (max-width: 770px) {
  .contactSection {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contactText {
    width: 70%;
    font-size: 1rem;
  }
}

@media (max-width: 580px) {
  .contactSection {
    padding-top: 30px;
  }
  .contactText {
    width: 80%;
  }
}
